const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    apiHost: 'http://0.0.0.0:20000',
  },
  production: {
    apiHost: 'https://api.thebaronmunchausen.com',
  }
}

export default config[env]