www/node_modules
api/node_modules

.DS_Store
.idea

npm-debug.log*

www/package-lock.json
api/package-lock.json

www/src/parameters.js
api/parameters.js

docker-compose.yml
api/env/Dockerfile
www/env/Dockerfile

api/logs/*.log

.persistency

api/public/downloads/*.zip

backups