admin/node_modules
api/node_modules
www/node_modules

*.zip
.DS_Store
.idea

npm-debug.log*

admin/package-lock.json
api/package-lock.json
www/package-lock.json

admin/src/parameters.js
api/parameters.js
www/parameters.js

docker-compose.yml
api/env/Dockerfile
admin/env/Dockerfile
www/env/Dockerfile

.persistency

api/public/downloads/*.zip
api/public/expansions/*

backups