version: '3'

services:

  proxy:
    image: jwilder/nginx-proxy:alpine
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
    ports:
      - '80:80'
#      - '443:443'
    networks:
      - backend
    volumes:
      - '/var/run/docker.sock:/tmp/docker.sock:ro'
#      - '/etc/letsencrypt/live/fingertips.com/fullchain.pem:/etc/nginx/certs/fingertips.com.crt'
#      - '/etc/letsencrypt/live/fingertips.com/privkey.pem:/etc/nginx/certs/fingertips.com.key'

  api:
    build: ./api/env
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
      - VIRTUAL_HOST=munchausen-api.fingertips.cf
    depends_on:
      - db
    networks:
      - backend
    volumes:
      - './api:/var/www'

  admin:
    build: ./admin/env
    restart: unless-stopped
    environment:
      - HTTPS_METHOD=nohttps
      - VIRTUAL_HOST=munchausen.fingertips.cf,fingertips.cf,www.fingertips.cf
    networks:
      - backend
    volumes:
      - './admin:/var/www'

  db:
    image: mongo:4
    restart: unless-stopped
    environment:
      - MONGO_INITDB_DATABASE=munhauzen
    networks:
      - backend
    volumes:
      - '.:/var/www'
      - '.persistency/monogo/data:/data/db'

networks:
  backend:
    driver: "bridge"
