version: '3'

services:

  proxy:
    image: jwilder/nginx-proxy:alpine
    restart: unless-stopped
    ports:
      - '80:80'
#      - '443:443'
    networks:
      - backend
    volumes:
      - '/var/run/docker.sock:/tmp/docker.sock:ro'
#      - '/etc/letsencrypt/live/thebaronmunchausen.com/fullchain.pem:/etc/nginx/certs/thebaronmunchausen.com.crt'
#      - '/etc/letsencrypt/live/thebaronmunchausen.com/privkey.pem:/etc/nginx/certs/thebaronmunchausen.com.key'
#      - '/etc/letsencrypt/live/admin.thebaronmunchausen.com/fullchain.pem:/etc/nginx/certs/admin.thebaronmunchausen.com.crt'
#      - '/etc/letsencrypt/live/admin.thebaronmunchausen.com/privkey.pem:/etc/nginx/certs/admin.thebaronmunchausen.com.key'
#      - '/etc/letsencrypt/live/api.thebaronmunchausen.com/fullchain.pem:/etc/nginx/certs/api.thebaronmunchausen.com.crt'
#      - '/etc/letsencrypt/live/api.thebaronmunchausen.com/privkey.pem:/etc/nginx/certs/api.thebaronmunchausen.com.key'

  www:
    build: ./www/env
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=thebaronmunchausen.com,www.thebaronmunchausen.com
    networks:
      - backend
    volumes:
      - './www:/var/www'

  api:
    build: ./api/env
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=api.thebaronmunchausen.com
    networks:
      - backend
    volumes:
      - './api:/var/www'

  admin:
    build: ./admin/env
    restart: unless-stopped
    environment:
      - VIRTUAL_HOST=admin.thebaronmunchausen.com
    networks:
      - backend
    volumes:
      - './admin:/var/www'

  db:
    image: mongo:4
    restart: unless-stopped
    environment:
      - MONGO_INITDB_DATABASE=munhauzen
    networks:
      - backend
    volumes:
      - '.:/var/www'
      - '.persistency/mongo/data:/data/db'

networks:
  backend:
    driver: "bridge"
