const env = process.env.NODE_ENV || 'production'

const config = {
  development: {},
  production: {
    pageprefix: ' - thebaronmunchausen.com',
    host: 'https://thebaronmunchausen.com',
    gplay: 'https://play.google.com/apps/en.munchausen.fingertipsandcompany.full',
    appstore: 'https://itunes.apple.com/app/id1496752335',
    defaultLocale: 'en',
    supportedLocales: ['en', 'ru'],
    email: 'fingertipsandcompany@gmail.com',
    gtm: {
      enabled: true,
      code: 'UA-157590413-1'
    }
  }
}

if (config[env] === undefined) {
  throw `Missing parameters for ${env} environment`
}

module.exports = config[env]