<h1>Privacy policy</h1>

<p>Last update: 2020-07-03</p>

<p>Privacy policy (Policy) of personal information applies to all information which FingerTipsandCompany represented by Dmitriy Bondarchuk (Developer) can get from user during a game use (Application).</p>

<p>1. The reason of this policy creation is information protection, which can/will be get from user who use applications of the developer.</p>

<p>2. Downloading and installing the application on your device means that you completely and unconditionally accept all terms of this policy.</p>

<p>3. In case if you disagree with terms of this policy you should stop to use applications of the developer and delete them from your devices.</p>

<p>4. Developer reserve the right to change that policy without user notification. Changes take effect immediately after publication.</p>

<p>5. Personal information includes but is not limited to:</p>

<p>5.1. Required public information related to Google account: login, nickname etc.</p>

<p>5.2. Information provided of one's own free will by user in profiles of applications: name, age, city etc.</p>

<p>6. Developer also gets and processes information obtained using Application, which can contain: IP-address, OS related information, UDID of the device, information of user action during application use, time and game results, etc.</p>

<p>7. Developer processes users information, as well as their personal information in order of fulfillment of obligations to users related to applications of the developer.</p>

<p>8. Personal information can be used in order to: identify user, provide services to user, support user, personalisation of applications, as well as for faceless statistical researches and applications quality improvement reasons.</p>

<p>9. The application may use information-gathering modules from third parties that are independent of the functions of the Application and Services in order to conduct trend surveys on the provision and use of the Application and Services. Such information is provided in next program modules: </p>
<p>9.1. Facebook SDK</p>
<p>Provider: Facebook, Inc.</p>
<p>Purposes of use: To measure the effectiveness of placed advertisements.</p>
<p>9.2. AppMetrica SDK</p>
<p>Provider: Yandex, Inc.</p>
<p>Purposes of use: To measure the effectiveness of placed advertisements.</p>

<p>10. In order to protect users personal data developer takes actions of technical and organizational and legal kind, but isn't responsible for malicious acts of third parties.</p>

<p>11. Developer doesn't responsible of third parties actions who got publicly available information about user as result of application use. You have to treat carefully to spread of personal information.

<p>In case of any questions you can contact us: <a href="mailto:{{ parameters.email }}">{{ parameters.email }}</a></p>
