<section class="reveal-slide-7">

    <table class="p-0 m-0 border-0 w-100">
        <tbody>
        <tr style="height: 80vh;">
            <td style="width: 100%;vertical-align: middle;text-align: center">
                <div class="mx-1 mt-5">
                    <img data-src="/assets/ramka_2.png?v=2"
                         alt=""
                         class="img-fluid decor-img">

                    <div class="my-3">
                        <h2 class="text-center font-markscript font-weight-bold w-100"
                            id="beta-title">{{ i18n.t('slide7.title')|safe }}</h2>

                        <p class="h2 text-center font-markscript font-weight-bold w-100">
                            {{ i18n.t('slide7.content')|safe }}
                        </p>

                        <p class="h2">
                            <a href="mailto:test.munchausen@ukr.net">
                                test.munchausen@ukr.net
                            </a>
                        </p>
                    </div>

                    <img data-src="/assets/ramka_2.png?v=2"
                         style="transform: rotate(180deg);"
                         alt=""
                         class="img-fluid decor-img">
                </div>
            </td>
        </tr>
        </tbody>
    </table>


</section>