<section class="reveal-slide-1">

    <video id="slide-2-video"
           loop
           muted
           playsinline
           style="position: absolute;top:0;left:0;z-index:3">
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-2-1080p.mp4?v=1"
                data-src-port="/assets/trailer-2-mob-1080p.mp4?v=1"/>
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-2-720p.mp4?v=1"
                data-src-port="/assets/trailer-2-mob-720p.mp4?v=1"
                media="screen and (max-width: 720px)"/>
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-2-480p.mp4?v=1"
                data-src-port="/assets/trailer-2-mob-480p.mp4?v=1"
                media="screen and (max-width: 480px`)"/>
    </video>

    {#<iframe id="slide-3-video"
            class="d-none"
            style="position: absolute;top:0;left:0"
            width="764" height="573"
            src="https://www.youtube.com/embed/Dw17-BEFb3Y"
            frameborder="0"
            allow="accelerometer; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>#}

    <video id="slide-1-video"
           data-duration="5000"
           muted
           playsinline
           style="position: absolute;top:0;left:0;z-index: 3">
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-1-1080p.mp4?v=1"
                data-src-port="/assets/trailer-1-mob-1080p.mp4?v=1"/>
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-1-720p.mp4?v=1"
                data-src-port="/assets/trailer-1-mob-720p.mp4?v=1"
                media="screen and (max-width: 720px)"/>
        <source
                src=""
                type="video/mp4"
                data-src-land="/assets/trailer-1-480p.mp4?v=1"
                data-src-port="/assets/trailer-1-mob-480p.mp4?v=1"
                media="screen and (max-width: 480px)"/>
    </video>

    <img src="/assets/Elements_web/Старт_ФИНАЛ_Цвет.jpg?v=1"
         alt="" id="slide-3-video"
         class="d-none"
         style="position: absolute;top:0;left:0;width:764px;height:573px;z-index:4">

    <div style="z-index: 5;position: relative;top:12vh">
        <h1 class="h1 m-0 text-center font-markscript">“{{ i18n.t('slide1.title')|safe }}“</h1>
    </div>

</section>