<section class="reveal-slide-2">

    <div class="d-none d-lg-block">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="p-0 my-0 mx-5 border-0">
                        <tbody>
                        <tr style="height:80vh">
                            <td style="vertical-align: middle;overflow: hidden; width: 50%">
                                <img data-src="/assets/painting1.png?v=1"
                                     id="slide-2-img-desktop"
                                     alt=""
                                     class="img-fluid p-2 slide-1-img"/>
                            </td>
                            <td style="vertical-align: middle;overflow: hidden; width: 50%">

                                <img data-src="/assets/ramka_2.png?v=1"
                                     alt=""
                                     class="img-fluid decor-img"/>

                                <p class="h1 font-markscript my-3 px-3">
                                    {{ i18n.t('slide2.title')|safe }}
                                </p>

                                <img data-src="/assets/ramka_2.png?v=1"
                                     style="transform: rotate(180deg);"
                                     alt=""
                                     class="img-fluid decor-img"/>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="d-block d-lg-none">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <table class="p-0 m-0 border-0">
                        <tbody>
                        <tr style="height:40vh">
                            <td style="vertical-align: middle;overflow: hidden">

                                <img data-src="/assets/ramka_2.png?v=1"
                                     alt=""
                                     class="img-fluid decor-img"/>

                                <p class="h1 font-markscript my-1 px-3">
                                    {{ i18n.t('slide2.title')|safe }}
                                </p>

                                <img data-src="/assets/ramka_2.png?v=1"
                                     style="transform: rotate(180deg);"
                                     alt=""
                                     class="img-fluid decor-img"/>
                        </tr>
                        <tr style="height:40vh">
                            <td style="vertical-align: top;overflow: hidden">
                                <img data-src="/assets/painting1.png?v=1"
                                     id="slide-2-img-mobile"
                                     alt=""
                                     class="img-fluid p-2 slide-1-img"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</section>