@font-face {
  font-family: BuxtonSketch;
  src: url('../assets/BuxtonSketch.ttf');
  font-weight: bold;
}

@import '~toastr/build/toastr.min.css';
@import './bootstrap.scss';

.toast.toast-success {
  background-color: green;
}

.toast.toast-error {
  background-color: red;
}

.bg-yellow {
  background-color: #e2e2bd;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: black;
  background: none;
  border-color: #464413 #464413 #0000;
}

.nav-link.active {
  text-decoration: underline;
}

* {
  font-family: 'BuxtonSketch', sans-serif;
}

.nav {
  font-size: 15pt;
}

a {
  color: black
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Ubuntu", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('../assets/images/p0.jpg') repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

label {
  margin-bottom: 0
}