@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf"), url("/fonts/Roboto/Roboto-RegularItalic.ttf"), url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "MarckScript";
    src: url("/fonts/Marck_Script/MarckScript-Regular.ttf");
}

.body-bg-light {
    background: url('/assets/Elements_web/background_1.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.body-bg-dark {
    background: url('/assets/Elements_web/background_2.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#loading * {
    z-index: 900;
}

.move-left-and-fade-out {
    transition: left 1.5s, opacity 1.5s;
    left: -50% !important;
    opacity: 0;
}

.painting-text {
    background: url('/assets/Elements_web/paper.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    margin-top: -33px;
}

.my-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-rounded {
    border-radius: 15px !important;
}

.version-card {
    border: 0;
    border-radius: 0;
    background: none;
}

.version-card .version-card-text > p {
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: white
}

.version-card .version-card-header {
    background: url('/assets/paper_bg.jpg') repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.version-card .version-card-body {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.decor-img {
    height: 20px
}

.color-accent {
    color: #29230C;
}

.color-primary {
    color: #AE9C68;
}

.color-primary-light {
    color: #D4BB77;
}

.color-yellow {
    color: #EAE86A;
}

.bg-color-accent {
    background-color: #29230C;
}

.bg-color-primary {
    background-color: #AE9C68;
}

.bg-color-primary-light {
    background-color: #D4BB77;
}

.bg-color-yellow {
    background-color: #EAE86A;
}

.font-roboto {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-markscript {
    font-family: MarckScript, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.dropdown-menu {
    min-width: initial !important;
}

.dropdown-toggle::after {
    display: none !important;
}

#langDropdown {
    width: 75px;
    text-align: center;
}


.animation-spin-10s {
    animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animation-spin-14s {
    animation-name: spin;
    animation-duration: 14000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.reveal.slide .slides > section, .reveal.slide .slides > section > section {
    min-height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
    position: absolute !important;
    top: 0 !important;
}

.reveal.slide .slides > section.align-slide-content-center,
.reveal.slide .slides > section.align-slide-content-center > section {
    justify-content: center !important;
    align-items: center !important;
}

section > h1, section > h2 {
    position: absolute !important;
    top: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    left: 0 !important;
    right: 0 !important;
    text-align: center !important;
}

.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
    min-height: 770px !important;
    position: relative !important;
}



#wau-container {
    position: fixed;
    text-align: center;
}

@media (max-width: 320px) {

    .decor-img {
        height: 15px
    }

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.2rem;
    }

    .reveal-slide-2 img {
        max-height: 250px;
    }

    .reveal-slide-3 img {
        max-height: 225px;
    }

    #wau-container {
        bottom: -40%;
        left: -25%;
        width: 150%;
    }

}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 321px) and (max-width: 576px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.4rem;
    }

    .reveal-slide-2 img {
        max-height: 350px;
    }

    .reveal-slide-3 img {
        max-height: 250px;
    }

    #wau-container {
        bottom: -40%;
        left: -25%;
        width: 150%;
    }
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 577px) and (max-width: 768px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.75rem;
    }

    .reveal-slide-2 img {
        max-height: 400px;
    }

    .reveal-slide-3 img {
        max-height: 275px;
    }

    #wau-container {
        bottom: -40%;
        left: -25%;
        width: 150%;
    }
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 769px) and (max-width: 992px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.75rem;
    }

    .reveal-slide-2 img {
        max-height: 400px;
    }

    .reveal-slide-3 img {
        max-height: 300px;
    }

    #wau-container {
        bottom: -40%;
        left: 0;
        width: 100%;
    }
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 993px) and (max-width: 1200px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 2rem;
    }

    .reveal-slide-2 img {
        max-height: 450px;
    }

    .reveal-slide-3 img {
        max-height: 325px;
    }

    #wau-container {
        bottom: -40%;
        left: 0;
        width: 100%;
    }
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1201px) {

    .reveal-slide-1 .h1,
    .reveal-slide-3 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1 {
        font-size: 2rem;
    }

    .reveal-slide-2 img {
        max-height: 550px;
    }

    .reveal-slide-3 img {
        max-height: 350px;
    }

    #wau-container {
        bottom: -25%;
        left: 0;
        width: 100%;
    }
}