@font-face {
    font-family: "Roboto";
    src: url("/fonts/Roboto/Roboto-Regular.ttf"), url("/fonts/Roboto/Roboto-RegularItalic.ttf"), url("/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: "MarckScript";
    src: url("/fonts/Marck_Script/MarckScript-Regular.ttf");
}

.navigate-left, .navigate-up, .navigate-down, .navigate-right {
    opacity: 1 !important;
}

.slides > section {
    padding: 0;
}

.reveal-slide-1 {
    height: 100vh !important;
}

.reveal-slide-2,
.reveal-slide-3,
.reveal-slide-4,
.reveal-slide-5 {
    margin-top: 7.5vh !important;
    height: 85vh !important;
}

.reveal-slide-6 {
    margin-top: 10vh !important;
    height: 90vh !important;
}

.body-bg-light {
    background: url('/assets/Elements_web/background_1.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.body-bg-dark {
    background: url('/assets/Elements_web/background_2.jpg') no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#loading * {
    z-index: 900;
}

#footer-links {
    height: 20vh
}

.move-left-and-fade-out {
    transition: opacity 1.5s;
    opacity: 0;
}

.painting-text {
    background: url('/assets/Elements_web/paper.png') no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    position: relative;
    margin: 0 auto;
    margin-top: -33px;
}

.my-shadow {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.my-rounded {
    border-radius: 15px !important;
}

.version-card {
    border: 0;
    border-radius: 0;
    background: none;
}

.version-card-desktop,
.version-card-desktop-title {
    max-width: 20vw;
}

.version-card .version-card-text > p {
    font-weight: bold;
    line-height: 21px;
    color: white
}

.version-card .version-card-mobile-description {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.version-card .version-card-mobile-price {
    font-weight: bold;
    position: absolute;
    bottom: 0;
}

.version-card .version-card-discount {
    position: absolute;
    bottom: 0;
    right: 10px;
    max-height: 50px;
}

@media (min-width: 768px) {
    .version-card .version-card-discount {
        bottom: 5px;
        right: 5px;
    }
}

.version-card .version-card-header {
    background: url('/assets/paper_bg.jpg') repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.version-card .version-card-body {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.decor-img {
    height: 20px
}

.color-accent {
    color: #29230C;
}

.color-primary {
    color: #AE9C68;
}

.color-primary-light {
    color: #D4BB77;
}

.color-yellow {
    color: #EAE86A;
}

.bg-color-accent {
    background-color: #29230C;
}

.bg-color-primary {
    background-color: #AE9C68;
}

.bg-color-primary-light {
    background-color: #D4BB77;
}

.bg-color-yellow {
    background-color: #EAE86A;
}

.font-roboto {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.font-markscript {
    font-family: MarckScript, sans-serif;
    font-style: normal;
    font-weight: normal;
}

.dropdown-menu {
    min-width: initial !important;
}

.dropdown-toggle::after {
    display: none !important;
}

#langDropdown {
    width: 75px;
    text-align: center;
}


.animation-spin-10s {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.animation-spin-14s {
    animation-name: spin;
    animation-duration: 7000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-earth img,
#loading-flies img {
    width: 300px
}

#loading-hare {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -170px)
}

#loading-flies {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#loading-earth {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
}

#loading-hare img {
    width: 200px
}

#loading-bar {
    width: 240px;
    height: 5px;
    margin: 0 auto
}

#loading-bar-container {
    left: 50%;
    top: calc(50% + 160px);
    transform: translate(-50%, -50%)
}

@media (max-width: 320px) {

    #loading-bar-container {
        top: calc(50% + 110px) !important;
    }

    #loading-hare {
        transform: translate(-50%, -110px) !important
    }

    #loading-earth img,
    #loading-flies img {
        width: 200px !important;
    }

    #loading-hare img {
        width: 140px !important;
    }

    .decor-img {
        height: 15px
    }

    .version-card .version-card-mobile-description {
        font-size: 0.8rem;
    }

    .version-card .version-card-mobile-title {
        font-size: 1.4rem;
    }

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.2rem;
    }

    #footer-links {
        height: 100vh
    }
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 321px) and (max-width: 576px) {

    #loading-bar-container {
        top: calc(50% + 110px) !important;
    }

    #loading-hare {
        transform: translate(-50%, -110px) !important
    }

    #loading-earth img,
    #loading-flies img {
        width: 200px !important;
    }

    #loading-hare img {
        width: 140px !important;
    }

    .version-card .version-card-mobile-description {
        font-size: 1rem;
    }

    .version-card .version-card-mobile-price {
        font-size: 1.5rem;
    }

    .version-card .version-card-mobile-title {
        font-size: 1.75rem;
    }

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.4rem;
    }

    .slide-2-title {
        height: 40vh;
    }

    .slide-3-title {
        height: 50vh;
    }

    #footer-links {
        height: 100vh
    }

}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 577px) and (max-width: 768px) {

    .version-card .version-card-mobile-description {
        font-size: 1.25rem;
    }

    .version-card .version-card-mobile-price {
        font-size: 2rem;
    }

    .version-card .version-card-mobile-title {
        font-size: 2.5rem;
    }

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.75rem;
    }

    .slide-2-title {
        height: 40vh;
    }

    .slide-3-title {
        height: 40vh;
    }

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 769px) and (max-width: 992px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 1.75rem;
    }

    .slide-2-title {
        height: 50vh;
    }

    .slide-3-title {
        height: 30vh;
    }

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 993px) and (max-width: 1200px) {

    .reveal-slide-1 .h1,
    .reveal-slide-2 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1,
    .reveal-slide-3 .h1 {
        font-size: 2rem;
    }


    .slide-2-title {
        height: 50vh;
    }

    .slide-3-title {
        height: 40vh;
    }

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1201px) {

    .reveal-slide-1 .h1,
    .reveal-slide-3 .h1,
    .reveal-slide-6 .h1,
    .reveal-slide-4 .h1 {
        font-size: 2rem;
    }

    .slide-2-title {
        height: 50vh;
    }

    .slide-3-title {
        height: 30vh;
    }

}

.animation-fade-in {
    opacity: 1;
    transition: opacity .3s;
}

.h1 {
    font-size: 2.5rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.75rem;
}

.h4 {
    font-size: 1.5rem;
}

.h5, .p {
    font-size: 1.25rem;
}

.h6 {
    font-size: 1rem;
}

@media (min-width: 576px) {
    .h1 {
        font-size: 2.5rem;
    }

    .h2 {
        font-size: 2rem;
    }

    .h3 {
        font-size: 1.75rem;
    }

    .h4 {
        font-size: 1.5rem;
    }

    .h5, .p {
        font-size: 1.25rem;
    }

    .h6 {
        font-size: 1rem;
    }
}

@media (min-width: 768px) {
    .h1 {
        font-size: 2rem;
    }

    .h2 {
        font-size: 1.5rem;
    }

    .h3 {
        font-size: 1.25rem;
    }

    .h4 {
        font-size: 1rem;
    }

    .h5, .p {
        font-size: .75rem;
    }

    .h6 {
        font-size: .5em;
    }
}

@media (min-width: 992px) {
    .h1 {
        font-size: 2.25rem;
    }

    .h2 {
        font-size: 1.75rem;
    }

    .h3 {
        font-size: 1.5rem;
    }

    .h4 {
        font-size: 1.25rem;
    }

    .h5, .p {
        font-size: 1rem;
    }

    .h6 {
        font-size: .75em;
    }
}

/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        max-width: 1140px;*/
/*    }*/
/*}*/

#slide-6-img-1 {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 75%;
    max-width: 500px;
    z-index: 3;
}

#slide-6-img-2 {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 75%;
    max-width: 600px;
    z-index: 3;
}

#wau-animation {
    position: absolute;
    bottom: 0;
    z-index: 4;
}

#navigation img {
    max-height: 40px;
}

#beta-title {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #beta-title {
        font-size: 8rem;
    }
}

@media (min-width: 1600px) {
    #beta-title {
        font-size: 11rem;
    }
}