const env = process.env.NODE_ENV || 'production'

const config = {
  development: {
    port: 80,
    host: 'http://0.0.0.0:20000',
    mongoHost: 'mongodb://db/munhauzen',
    secret: '****',
    users: {
      admin: {
        password: '****'
      }
    }
  },
  production: {
    port: 80,
    host: 'https://api.thebaronmunchausen.com',
    mongoHost: 'mongodb://db/munhauzen',
    secret: '****',
    users: {
      admin: {
        password: '****'
      }
    }
  }
}

module.exports = config[env]